body.layout1 {
    //This part is for re-ordering course columns for small devices so the course content appears before left sidebar, since this section uses full device width
    @media only screen and (max-width: @breakpoint-medium), only screen and (max-device-width: @breakpoint-medium){
        #pre-and-content{
            .flexit(column);

            #region-main-uikit {
                .box-order(1);
                float: none;
            }

            .content-pre {
                .box-order(2);
                float: none;
            }

            #block-region-side-pre {
                .box-order(2);
                float: none;
            }
        }
    }
}

/**
 * Second layout specific styles
 */
body.layout2 {
    //Header:
	#page-header {
		padding-top: 5px;
		padding-bottom: 0;
	}
	
	#page-header-content {
		box-sizing: border-box;
		padding: 0;
	}
    
    #page-header-content-logo {
        .flex-forced-width(@mdl-layout2-left-width);
    }
    
	
	#page-header-content-logo #subtitle {
		margin: 0;
	}

	#page-navbar {
		margin-top: 15px;
	}
    
    #socialicons {
		padding-right: 20px;
		text-align: right;
    }
	
	#page-navigation {
		padding-right: 20px;
		text-align: right;
	}
    

    //Pre and content:
    #block-region-side-pre {
        .flex-forced-width(@mdl-layout2-left-width);
    }
	
	//This part is for re-ordering pages for small devices
	@media only screen and (max-width: @breakpoint-medium), only screen and (max-device-width: @breakpoint-medium){
        #page-header-content {
			.flex-grid-horizontal-wrap();
            
            #page-header-content-logo {
                text-align: center;
                margin-bottom: 10px;
                
                a {
                    float: none;
                }
            }
            
            #page-navigation {
                text-align: center;
            }
        }
        
        
		#pre-and-content{
			.flex-grid-horizontal-wrap();

			#region-main-uikit {
				.box-order(1);
			}

			#block-region-side-pre {
				.box-order(2);
			}
		}
	}
    
    @media only screen and (min-width: @breakpoint-xlarge){
        //Content and post-content separation
        .content + .post-content {
            padding-left: 10px;
        }
    }
}